<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Movie Face</title>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Util.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Xhr.js') }}">alert("Turn on javascript, you dickbutting asshole.");</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Main.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Main.css') }}">
</head>
<body>
  <h1>Everything</h1>
  {% for collection, movielist in iso_dict.iteritems() %}
  <h3>{{ collection.display_name }}</h3>
  <ul id="isoListDvd">
    {% for movie in movielist %}
    <li><a href="#" onclick="showPopupForIso('{{ movie.movie_id }}', '{{ movie.filename }}');">{{ movie.filename }}</a></li>
    <div id="{{ movie.movie_id }}popup" class="popup hidden">
      <span>Search to rename {{ movie.filename }}</span>
      <input type="button" value="Fix+Paste v" onclick="fixTitleAndPaste('{{ movie.movie_id }}', '{{ movie.filename }}');">
      <hr>
      <input type="text" id="{{ movie.movie_id }}searchString" onkeypress="searchMovieKeypress(event, '{{ movie.movie_id }}');" size="63">
      <input type="button" value="Search" onclick="searchMovie('{{ movie.movie_id }}');">
      <span id="{{ movie.movie_id }}searchText" class="hidden">Searching...</span>
      <div id="{{ movie.movie_id }}resultsBox" class="resultsBox"></div>
      <input type="button" value="Close" onclick="this.parentElement.classList.add('hidden');">
    </div>
    {% endfor %}
  </ul>
  {% endfor %}
</body>
</html>
